{% extends '@LinkORBWiki/base.wiki.html.twig' %}

{% block body %}
  <fieldset class="wiki-page-content">
    <legend><i class="fa fa-lock"></i> Read Only</legend>
    <div class="mt-2 wiki-content">
        {{ "
           ##  Wiki is Read-only

           The content of this wiki page is set to read-only, and it is probably managed through an external CMS.
            You can't `add/edit`  page(s) here.
           The configuration for the CMS can be found in the Wiki config input field.
           The system currently supports git/GitHub as an external CMS.
           "|markdown_to_html }}
    </div>
  </fieldset>
{% endblock %}
