{% extends '@Wiki/base.wiki.html.twig' %}

{% block title %}Wiki: {{ wiki.name }} :Events {% endblock %}

{% block body %}
    <h1>Events</h1>

    <fieldset>
        {% include '@Wiki/wiki_event/list.html.twig' %}
    </fieldset>

{% endblock %}
